.headdiv
{
    height: 100vh;
}
.center {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align:  center;
}
.round_brand {
  border-radius: 100px;
}
.right {
  display: block;
  margin-left: auto;
  margin-right: auto;
  text-align: right;
}
.marginrom {
  margin-left: 5%;
  margin-right: 25%;
  margin-top: 1%;
}
.headtext {
  margin-top: 2%;
  margin-left: 3%;
  font-size: 200%;
  font-family: 'Nunito', sans-serif;
}
